<ion-pane style="background-image:url(img/chatbg.jpg);">
    <ion-header-bar class="bar-stable">
        <h1 class="title" style="text-align: center;">PostCard v1.0</h1>
    </ion-header-bar>
    <ion-content class="padding" scroll="true">
        <div id="divID"></div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="text" placeholder="Write a Message ..." ng-model="msg">
            </label>
            <a class="button button-icon icon ion-android-send footer-btn calm" type="submit" ng-click="send()"></a>
        </ion-footer-bar>
    </ion-pane>