
<ion-pane style="background-image:url(img/bg2.jpg);">
    <ion-header-bar class="bar-stable">
        <h1 class="title" style="text-align: center;">PostCard v1.0</h1>
    </ion-header-bar>

    <ion-content class="padding">
        <ion-list>
            <br><br>  
            <div class="row">
                <div class="col"></div>
                <div class="col"><img  src="img/logo2.png"></div>
                <div class="col"></div>

            </div>
            <br><br><br><br>

            <button class="button button-block button-positive" ng-click="facebookLogin()">Sign In with facebook &nbsp;<i class="ion-social-facebook"></i></button>
            <button class="button button-block button-assertive" ng-click="googleLogin()">Sign In with google  &nbsp;<i class="ion-social-google"></i></button>
            <button class="button button-block button-dark" ng-click="fakeLogin()">Skip Login  &nbsp;<i class="ion-log-in"></button>

        </ion-list>
    </ion-content>
    
</ion-pane>
